.banner-black__title {
  margin-top: 120px;
  margin-left: 391px;
  margin-bottom: 5px;
  padding: 0;
  max-width: 658px;
  height: 70px;
  font-family: 'PlayfairDisplay', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 140%;
  text-align: center;
  color: #d3d3d3;
}