.banner-black__text {
  font-family: 'PlayfairDisplay', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #111111;
  margin: 9px 30px;
}